h2{
  font-size:14px;
}
.input-group-addon{
  font-size:12px;
   width:160px;
   text-align:right;
}
label.plugin-lists{
  display:block;
  font-weight:normal;
  cursor:pointer;
}
label.plugin-lists:hover{
  font-weight:bold;
}
span.plugin-explane{
  color:#88C;
}

table.groups{
  border-collapse:collapse;
}
table.groups tr.header *{
  font-weight:normal;
  font-size:12px;
}
table.groups tr.data{
  /*cursor:pointer;*/
}
table.groups tr.data:hover{
  background-color:#EEF;
}
table.groups th,table.groups td{
  padding:4px 8px;
  border:1px solid #DDD;
}
table.groups th{
  background-color:rgba(220,220,220,0.5);
  text-align:center;
}
table.groups .id{
  min-width:40px;
  text-align:center;
  background-color:rgba(220,220,220,0.5);
}
table.groups .name{
  min-width:140px;
  padding:0;
}
table.groups .name input{
  min-width:140px;
  padding:0;
  border:0 !important;
  padding:4px 8px;
  /*outline:0;*/
  background-color:transparent;
  /*border-color:transparent;*/
}
table.groups .name input[type="text"]:focus{
  outline:0;
  border-color:orange;
  box-shadow:none;
}

table.groups .count{
  min-width:64px;
  text-align:center;
}
table.groups .remove{
  font-size:10px;
  text-align:center;
  cursor:pointer;
  color:#64F;
}
table.groups .remove:hover{
  color:red;
}
table.groups .add input{
  width:100%;
}
