h2{
  font-size:14px;
}
.input-group-addon{
  font-size:12px;
   width:160px;
   text-align:right;
}

.path-icon{
  display:inline-block;
  width:18px;
}
.path{
  cursor:pointer;
  white-space:nowrap;
}
.path:hover{
  background-color:#EEF;
}

.module-menu{
  overflow:auto;

  width:100%;
  height:100%;
}
.path-inner{
  margin-left:18px;
  display:none;
}
.path-inner[data-status="open"]{
  display:block;
}
.path[data-status="open"] i.glyphicon:before {
  content: "\e118";
}


.path[data-select="select"]{
  background-color:#FDD;
}
.source{
  width:100%;
  min-height:400px;
  padding:8px;
  white-space:nowrap;
  border:1px solid #DDD;
  border-radius:4px;
}
.path-value{
  margin-bottom:8px;
}
input.submit-remove{
  /*background-color:#FDD;*/
  background-image:linear-gradient(to bottom, #fDD 0%, #f0e0e0 100%);
  /*width:30px;
  height:30px;*/
}
#remove_area{
  /*display:none;*/
  display:inline-block;
  text-align:right;
}
.remove_area_str{
  text-align:right;
}
.remove_area_str label{
  cursor:pointer;
  font-size:12px;
}
.glyphicon.glyphicon-file{
  color:#AAD;
}
